
<header-bar></header-bar>

<div class="container" data-ng-init="init()" >
    <h1>Edit baby</h1>
    <h2>{{baby.name}}</h2>

    <!-- dropdown to select what to change-->
    <div>
        Choose a property to update
        <select data-ng-model="baby.dropDownOption"
                data-ng-options="option for option in dropDownOptions"
                ng-init="defaultSelection()"
                ng-change="changeProperty()">
        </select>

    </div>

    <!-- Table to populate with values-->
    <div class="container" ng-init="changeProperty()"> <!-- change property is needed to load the table values -->
        <div class="container">
            <table class="table table-stripped" >
                <thead>
                    <th>Date</th>
                    <th>{{baby.dropDownOption}}</th>
                </thead>
                <tbody>
                    <tr ng-repeat="w in arrayToDisplay | orderBy: 'date' track by $index  ">
                        <td>
                            <a href="" editable-date="arrayToDisplay[$index].date">
                                {{ w.date | date }}
                            </a>
                        </td>
                        <td>
                            <a href="" editable-number="arrayToDisplay[$index].value">
                                {{ w.value }}
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><!-- end of div table-->

    <!-- add new values -->
    <!-- Form to add val-->
    <div class="container" ng-show="showAddButtonForm">
        <form id="updateBabyProperty" class="form-horizontal form-group col-md-4" role="form">
            <input id="dateUpdateProperty"
                   type="date"
                   class="form-control"
                   placeholder="Date"
                   ng-model="baby.dateUpdateProperty">

            <input id="valueUpdateProperty"
                   type="number"
                   class="form-control"
                   name="valueUpdate"
                   placeholder="{{baby.dropDownOption}}"
                   ng-model="baby.valueUpdateProperty">
        </form>
    </div> <!-- end of div add property form-->

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <button type="button" class="btn btn-default" aria-label="Left Align" ng-show="rowform.$visible" ng-click="addButtonClick()">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add
                </button>
                <button type="button" class="btn btn-default" aria-label="Left Align" ng-click="saveButtonClick()">
                    <span class="glyphicon glyphicon-floppy-open" aria-hidden="true"></span>Save
                </button>
            </div> <!-- end of div for add button-->

        </div> <!-- end of row div with two buttons add and save-->
    </div> <!-- end of div button-->
</div> <!-- END of main div-->
