
    <div class="container" data-ng-init="init()">
        <header-bar></header-bar>
        <h1>List of kids</h1>

        <!-- Add baby button-->
        <div class="row">
            <button type="button" class="btn btn-default btn-lg" ng-click="showHideAddBaby()">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add baby
            </button>
        </div> <!-- end of add baby button -->

        <!-- Add baby form -->
        <div class="container">
            <form id="addbabyform" ng-show="showform" class="form-vertical form-group col-md-12" role="form">
                <div class="form-group">
                    <label for="nameOfBaby">Baby name</label>
                    <input type="text" placeholder="Name of your baby" ng-model="baby.babyName" id="nameOfBaby">
                </div>
                <div class="form-group">
                    <label for="birthDate">Birth date</label>
                    <input type="date" placeholder="Date of Birth" ng-model="baby.babyBirthDate" id="birthDate">
                </div>
                <div class="form-group">

                    <label for="sexBaby">Sex</label>
                    <select name="sexBaby" ng-model="baby.sex" id="sexBaby">
                        <option ng-repeat="sex in sexBaby.availableOptions" value="{{sex.id}}">{{sex.name}}</option>
                    </select>

                </div>
                <button type="submit" class="btn btn-default" ng-click="addBaby()">Add baby</button>
            </form>
        </div> <!-- end of add baby form -->

        <!-- load your babies-->
        <div class="container">
            <h1>Your kids</h1>
        </div>
        <!-- Table with kids-->
        <div class="container">
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Sex</th>
                        <th>Birth Date</th>
                        <th>Born</th>

                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="kid in kids">
                    <td>
                        <a href="" editable-text="kids[$index].name"> {{ kid.name }} </a>
                    </td>
                    <td>
                        <a href="" editable-radiolist="kids[$index].sex" e-ng-options="s.id as s.name for s in sexBaby.availableOptions">
                            {{ showSex(kid) }}
                        </a>

                    </td>
                    <td>
                        <a href="" editable-date="kids[$index].birthdate"> {{kid.birthdate | date}} </a>
                    </td>
                    <td> {{calculateAge(kid.birthdate)}}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
