<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div class="container" data-ng-init="init()">
        <h1>Main page </h1>

        <!-- Add baby button-->
        <div class="row">
            <button type="button" class="btn btn-default btn-lg" ng-click="showform = ! showform">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add baby
            </button>
        </div> <!-- end of add baby button -->

        <!-- Add baby form -->
        <div class="row">
            <form id="addbabyform" ng-show="showform" class="form-horizontal form-group col-md-4" role="form">
                <input type="text" placeholder="Name of your baby" ng-model="babyName">
                <input type="date" placeholder="Date of Birth" ng-model="babyBirthDate">
                <button type="button" class="btn btn-default" ng-click="addBaby()">Add baby</button>
            </form>
        </div> <!-- end of add baby form -->

        <!-- load your babies-->
        <div class="row" ng-repeat="kid in kids">
            <p>{{ kid.name }}</p>
        </div>
    </div>
</body>
</html>